---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    <p><b>Prerequisites</b>: Though there is no official prerequisite, students are strongly encouraged to have previously taken CS374 or a similar introductory HCI class. The term project will require building web-based user interfaces, so some fluency in programming is needed.</p>

    <h2>Topics</h2>
    <div>
    <b>Major topics include:</b>
    <ul>
        <li>Virality and popularity</li>
        <li>Norms and social influence</li>
        <li>Growth in social systems</li>
        <li>Social ties</li>
        <li>Group collaboration</li>
        <li>Anti-social computing</li>
    </ul>
    </div>

    {{ content }}

    <br>
    <h2>Important Links</h2>
    <div>
        <b>Course Website</b>: <a href="https://social.cstlab.org/">https://social.cstlab.org/</a><br/>
        <b>Submission & Grading</b>: <a href="https://klms.kaist.ac.kr/">KLMS</a><br/>
        <b>Discussion and Q&A</b>: <a href="https://campuswire.com/p/G344AFCE4">Campuswire</a> (Code: 4985)<br/>
        <b>Staff Mailing List: <a href="cs473kaist@googlegroups.com">cs473kaist@googlegroups.com</a></b>
    </div>

    <br>
    <h2>Time & Location</h2>
    <div>
        <b>Classes & Studios</b>: 4:00 - 5:15 PM Tue/Thurs @ N1 111<br />
        <b>TA Office Hours</b>: TBD (Emailing ahead recommended). If this time does not work for you, please contact the TA to discuss alternatives.<br />
        <b>Professor Office Hours</b>: By appointment
    </div>

    <br>
    <h2>Grading</h2>
    <ul>
        <li>Term Project: 40%</li>
        <li>Final Exam: 30%</li>
        <li>Reading Response: 10%</li>
        <li>Class, Studio, and Activity participation/attendance: 20% (10% for attendance and 10% for studio participation)</li>
    </ul>

    <br>
    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Years</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    This class builds on previous iterations of KAIST’s CS473, taught by Professor Juho Kim, as well as Stanford University’s CS278, taught by Professor Michael Bernstein. Course materials from both are used with permission.
    <br>
    <div style="padding-top: 20px">
        <div style="width:35%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructor</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:65%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
