---
layout: page
---

<article class="post-content">
      <h2>What do we do?</h2>
            <p>This is a team-based, semester-long design project, in which you'll create an original social computing application on your own. You'll work in teams of <strong>three to four</strong> people. More information about each milestone will be added to this page. Here is the timeline and grading weights for each milestone:
            <ul>
                  <li><a href= "/projects/02_DP0">Team Formation</a> (week 2): 0%</li>
                  <li><a href= "/projects/03_DP1">Ideation</a> (week 4): 20%</li>
                  <li><a href= "/projects/04_DP2">Pitch</a> (week 6): 15%</li>
                  <li>Low-fi Prototype (week 7): 15%</li>
                  <li>High-fi Prototype (week 12): 15%</li>
                  <li>Final Presentation & Report (week 15): 35%</li>
            </ul>
                
            Please note that all team members will receive the same grade for all the milestones. 
            </p>

      <h2>Why do this?</h2>
            <p>Now that you've mastered the arts and skills of social computing, it's important that you apply what you learned to a problem you deeply care about. It's a great way to learn further, and potentially make impact.</p>

      <h2>Does my project idea qualify?</h2>
            <p>Projects are open-ended, so please be creative. But here are some requirements: 
            <ul>
                  <li>Your project should involve a <strong> VOLUNTARY OR INTRINSICALLY MOTIVATED USERS</strong>, which means you cannot use paid crowds (e.g., MTurk, Upwork).</li>
                  <li>Your project should have some user interface. I'm expecting most projects to be a novel crowdsourcing and social computing system that can be tested by others (e.g., a prototype website or a mobile app). Data mining or analysis focused projects are okay, but there needs to be some visualization or analytics dashboard component that is accessible by others to understand your results.</li>
                  <li>Your prototype doesn't need to be a fully implemented platform, menaing that it needs to focus on the core crowdsourcing / social computing concept you're introducing, rather than to build all the database backend, login, etc.</li>
                  <li>Connecting to your own research (if applicable) is encouraged, but please make sure to talk to course staff early about how to make it happen.</li>
            </ul>
            </p>
      <h2>Examples</h2>
            <p>Here are the project gallery pages from the previous years:
            <ul>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2018/projects/index.html">2018</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2019/projects/index.html">2019</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2020/projects/index.html">2020</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2021/projects/index.html">2021</a>
                  </li>
                  <li>
                    <a href="https://social.kixlab.org/projects/">2023</a>    
                  </li>
            </ul>
            </p>
      <h2>How do we submit?</h2>
            <p>We'll create an assignment in KLMS for each milestone.</p>

      <h2>Late Policy</h2>
            <p>For each milestone deadline, all members of your team will lose 10% for each late day. Submissions will be accepted until three days after the deadline. After then you'll get 0 on that assignment. Please note that late submissions for final presentations are not allowed.</p>
</article>

<!--
<ul id="archive">
{% for prj in site.projects %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ prj.url | prepend: site.baseurl}}">{{ prj.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right"></strong> 
      </li>
{% endfor %}
<br>
<br>
</ul>
-->