---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}
<article class="post-content">
    For each class you are responsible for reading at least <strong>one</strong> of the assigned readings. As a reading response, you are required to submit to the class Campuswire <strong>two</strong> interesting and relevant questions.

    One of these questions must be a <strong>short answer</strong> question, and the other must be a <strong>multiple choice</strong> question with four options (A, B, C, D).

    The following are examples of questions you might submit:

    <ol>
        <li>Provide one example from a social computing platform of your choice for how anonymity can lead to users engaging in pro-social behavior, and explain how the behavior is a result of anonymity.</li>
        <li>What are three "growing pains" a social network platform may experience during massive user growth? "</li>
        <li>What is correct about the “artisanal approach” to content moderation practices?
            <ol type="A">
                <li>It uses large groups of volunteer users to make policy decisions</li>
                <li>It frequently uses automation and algorithmic detection technologies</li>
                <li>It develops rules in a more formalized, static, and inflexible manner</li>
                <li>Content moderation is done primarily in-house on a case-by-case basis</li>
            </ol>
        </li>
    </ol>

</article>

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Week</div>
            <div class="col col-1">Date</div>
            <div class="col col-4">Class/Studio</div>
            <div class="col col-3">Pre-Class Reading (Choose One)</div>
            <div class="col col-3">Assignment Due</div>
        </li>
        
        <!-- {% assign all_assignment_dues = site.assignments | map: "due_event" %}

        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.assignments %}
        {% assign all_events = all_events | concat: all_assignment_dues %} -->
        {% assign all_events_sorted = site.events | sort: 'date' %}

        {% for event in all_events_sorted %}
        <li class="table-row table-row-{{ event.type }}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

    </ul>
</div>
